body{
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
header{
    margin: 0 auto;
    max-width: 1920px;
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #BC5BEE;
}
main{
    width: 100%;
    height: 900px;
    background-color: black;
    background: url("../IMAGES/bg2.png");
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo img{
    position: absolute;
    width: 160px;
    height:150px;

}
.kost{
    height: 120px;
}
.logo{
    display: flex;
    justify-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}
.header_info{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
.header_col{
    margin-top: -20px;
}
.container{
    margin: auto;
    max-width: 1920px;
}
.ab_title{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.orange{
    background-color: white;
}
.title_dec{
    margin-top: 5px;
    width: 15%;
    height: 2px;
    background-color: orange;
}
.about{
    max-width: 100%;
    height: auto;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.about_block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    min-height: 500px;
    height: auto;

}
.about_img{
    width: 391px;
    height: 400px;

}
.ab_img{
    width: 391px;
    height: 400px;
    background: url("../IMAGES/okno-veka.jpg");
    background-size: contain;

}
.about_text{
    font-size: 25px;
}
.ab_text_col{
    padding-top: 10px;
}
.montage{
    /* background: url("../IMAGES/978716538.jpg"); */
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
    
}
.montage_cont{
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}
.montage_number{
    font-size: 60px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    

}
.montage_block{
    border: 2px solid black;
    box-shadow:10px 10px 1px 2px orange;
    max-width: 42%;
    width: auto;
    min-width: 320px;
    height: auto;
    min-height: 180px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.montage_name{
    padding-top: 10px;
    font-size: 20px;
}
.montage_text{
    width: 90%;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #373935;
    margin-left: 10px;
}
.dec_line{
    margin-top: 10px;
    width: 70%;
    height: 2px;
    border-radius: 20px;
    background-color: #BC5BEE;
}
.settings{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.settings_block{
    width: 320px;
    height: auto;
}
.settings_icon{
    width: 100%;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 128px;
    height: 128px;
    background: url("../IMAGES/icons/free-icon-mute-148757.png");
    background-size: cover;
}
.i1{
    background: url("../IMAGES/icons/free-icon-layers-148862.png");
    width: 128px;
    height: 128px;
    background-size: cover;
}
.i3{
    background: url("../IMAGES/icons/free-icon-picture-148712.png");
    width: 128px;
    height: 128px;
    background-size: cover;
}
.i4{
    background: url("../IMAGES/icons/free-icon-cloud-148828.png");
    width: 128px;
    height: 128px;
    background-size: cover;
}
.settings_name{
    text-align: center;
    font-size: 25px;

}
.settings_text{
    padding-top: 10px;
    text-align: center;
    color: #373935;
}





.bottom{
    max-width: 1920px;
    height: auto;
    background-color: #1E1F1C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}
.bot_row_title{
    color: orange;
}
.bot_row{
    color: gray;
}
.bot_row:hover{
    cursor: pointer;
    color: white;
}
.bot_col img{
    width: 400px;
    height: auto;
}
.under_bot{
    background-color: #1E1F1C;
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
}
.under_bot_text{
    cursor: pointer;
    color: #595959;
    display: flex;
}
.under_bot_text_w{
    padding-left: 5px;
    color: grey;
}
@media screen and (max-width:490px) {
    /* .container{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    main{
        width: 100%;
        height: 900px;
        background: url("../IMAGES/bg2.png");
        background-position: 50%;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    header{
        max-width: 490px;
        position: fixed;
        width: 100%;
        min-height: 50px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        
    }
    header .logo img{
        position: absolute;
        width: 10px;
        height: auto;
        display: none;
    
    }
    .block_title{
        max-width: 100%;
        height: auto;
        font-size: 30px;
        height: auto;
        max-width: 100%;
        background-color: #FB973A;
    }
    .header_info{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: black;
    }
    .bot_col img{
        width: 0px;
        height: auto;
    }
    .bottom{
        width:auto;
         height: auto;
         background-color: #1E1F1C;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         font-size: 20px;
         flex-direction: column;
     }
     .bot_col{
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}